<%= stylesheet_link_tag 'eno_oblique.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "jquery-3.6.3.min.js" %>
<%= javascript_include_tag "ideaplayer.js" %>
<body>

<div class='header'>
  <div class='logo'>
    <a href="https://crm.org/articles/brian-eno-oblique-strategies" >
    <%= image_tag src="https://dq51jve9h21d4.cloudfront.net/sites/default/files/styles/banner_image/public/articles/264/x5a268552-6c2f-4d4d-9a63-49bd980a02de.jpeg.pagespeed.ic.MIJkwlXjzS.webp" %>
    </a>
    <h1><%= "灵感炼丹炉" %></h1>
    <h1><%= "stochastic idea player" %></h1>
    <p class="credits"><%= "Oblique Strategies: a set of axioms, transcribed onto cue cards and derived from the Chinese Divination system, the I Ching." %></p>
  </div>
</div>


<div class="main">
<%= form_with model: @idea, url: "ideas/ask_ai", method: "post", id:"question" do |form| %>
  <%= form.text_field "gtime", value:Time.now.strftime('%Y/%m/%d:%H'), size:"9*2", disabled: true %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.label "场景(Zone)：" %>
  <%= form.text_field :city , size:"9*2" %>
  <% @idea.errors.full_messages_for(:city).each do |message| %>
    <div><%= message %></div>
  <% end %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.label "东西(thing)：" %>
  <%= form.text_field :thing, size:"9*2" %>
  <% @idea.errors.full_messages_for(:city).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <br>
  <div class="buttons">
    <!-- ask button should submit first and then call action-url -->
    <%= button_tag "生成 (generate)", id:"ask-button", class:"button" %>
  </div>
<% end %>

<div id="answer-show" class="hidden">
  <p id="answer-container">
    <%= turbo_frame_tag do %>
      <strong>灵感(Oblique Strategies):</strong>
      <span id='oblique'></span>
      <br>
      <strong>丹文(Description):</strong>
      <span id='answer'></span>
      <br>
    <% end %>
  </p>

  <%= button_tag "分享图片 (Share Picture)", id:"share-picture-button", class:"button_classical",style:"display: block;" %>
  <!-- modal pop -->
  <div id="shared-picture-modal" class="modal" style="display: none;">
    <!-- close button -->
    <span class="close" onclick="document.getElementById(&#039;shared-picture-modal&#039;).style.display=&#039;none&#039;">&times;</span>
    <!-- shared picture content -->
    <img class="modal-content" id="shared-picture" />
  </div>
  <%= button_tag "打赏！(Buy me a Coffee)", type:"button", id:"coffee-button", class:"button_classical", style:"display: block;" %>
  <%= form_with url: "ideas/send_email", method: "post", id:"send-email", style:"margin-top:5px;" do |form| %>
    <%= form.label "Email：" %>
    <%= form.text_field :email , size:"12*2" %> &nbsp;&nbsp;
    <%= form.submit "喜欢吗？发送至邮件吧(Email it!)", id:"send-email-button" %>
  <% end %>
  </div>

</div>

<footer>
  <audio id="bgm" controls autoplay loop >
    <source src=<%= asset_path("Brian-Eno-1-1-zip.mp3") %> type="audio/mpeg">
  </audio>
  <p>
    <ul class="queue credits">
    已给出灵感(Served Ideas): &nbsp; <%= Idea.all.size %>
    </ul>
    <ul class="queue credits">
    <%= link_to "Manual", "https://mp.weixin.qq.com/s/BTK111M6iangsNeTNujkzA" %> <b> · </b>
    Project by <%= link_to " Elon Gong", "https://blog.elonarise.top/" %> <b> · </b>
    <%= link_to "Fork on Github", "https://github.com/virgotatus/askGPT3" %>
    </ul>
  </p>
  <div class="hidden" id="money" style="text-align: center;margin: 0 auto">
  <%= image_tag "money.jpg" %>
  </div>
</footer>

</body>

