<body>
<div class='header'>
  <div class='logo'>
    <% detail_existed=(@prompt.detail != nil) %>
    <a href=<%= detail_existed ? @prompt.detail.imglink : "https://book.douban.com/"  %>>
    <%= image_tag detail_existed ? @prompt.detail.imgname : "godthemselves.png" %>
    </a>
    <h1><%= @prompt.title %></h1>
  </div>
</div>


<div class="main">
<%= javascript_include_tag "askmybook.js" %>
<p class="credits"><%= detail_existed ? @prompt.detail.description : " " %></p>

<%= form_with model: @prompt , url: "#{@prompt.id}/ask_ai", method: "post" do |form| %>
  <%= form.text_area :body , id: "prompt_body" %><br>
  <% @prompt.errors.full_messages_for(:body).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <div class="buttons">
    <!-- ask button should submit first and then call action-url -->
    <%= button_tag "Ask question", id:"ask-button" %>
    <!-- lucky button will call-event ask-button, but dont submit itself. so, type should setted 'button' -->
    <%= button_tag "Your lucky", type:"button", id: "lucky-button", style:"background: #eee; border-color: #eee; color: #444;",
     onclick:"click_lucky('#{escape_javascript(@prompt.detail.alter_questions)}')" %>
  </div>
<% end %>

<p id="answer-container" class="hidden showing">
  <% if defined?(@prompt.reply.body) %>
    <strong>Answer of AI:</strong>
    <%= @prompt.reply.body %>
    <br>
    <%= button_tag "Ask another question", id:"ask-another-button" %>
    <audio id="audio" controls autoplay src=<%= @prompt.reply.radio_url %>>
      <source src type="audio/wav">
    </audio>
  <% end %>
</p>
</div>


<footer>
  <p>
    <ul class="queue credits"> Project by <%= link_to " Elon Gong", "https://blog.elonarise.top/" %> <b> · </b>
    <%= link_to "Fork on Github", "https://github.com/virgotatus/askGPT3" %> </ul>
    <ul class="queue credits">
      <%= link_to "Edit", edit_prompt_path(@prompt) %>
      <b> | </b>
      <%= link_to "Destroy Question", prompt_path(@prompt), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } %>
      <b> | </b>
      <%= link_to "Back", root_path %>
    </ul>
  </p>
</footer>

</body>

<!-- 
// show how to insert script of javascript in html
<script>
  // Add a click event listener to the button
  setPromptButton.addEventListener("click", function() {
    // Set the value of the text field
    bodyField.value = "my New Name";
  });
</script>

-->