
<% detail_existed=(@prompt.detail != nil) %>
<a href=<%= detail_existed ? @prompt.detail.imglink : "https://book.douban.com/"  %>>
 <%= image_tag detail_existed ? @prompt.detail.imgname : "godthemselves.png" %>
</a>

<%= form_with model: @prompt do |form| %>
  <div>
    <h3><%= form.label "Question: " %>
    <%= form.text_field :title , size: "8x2" %>
    <% @prompt.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </h3>
  </div>
  <br>
  <%= detail_existed ? @prompt.detail.description : " " %>
  <br>
  <div>
    <%= form.text_area :body , size: "40x2", id: "prompt_body" %><br>
    <% @prompt.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= javascript_include_tag "click_lucky.js" %>
    <li><%= button_tag "Ask AI", onclick: "form.submit; location.href='#{prompt_path(@prompt)}+/ask_ai'" %></li>
    <li><%= button_tag "Your lucky", id: "set_prompt_body", onclick:"click_lucky('#{escape_javascript(@prompt.detail.alter_questions)}'); form.submit" %></li>
  </div>
<% end %>

<% if defined?(@prompt.reply.body) %>
  <h3>Reply of AI</h3>
  <p>
    <%= @prompt.reply.body %>
  </p>
  <audio id="audio" controls autoplay src=<%= @prompt.reply.radio_url %>>
    <source src type="audio/wav">
  </audio>
<% end %>

<ul>
  <li><%= link_to "Edit", edit_prompt_path(@prompt) %></li>
  <li><%= link_to "Destroy Question", prompt_path(@prompt), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    } %></li>
  <li> <%= link_to "Back", root_path %> </li>
  <li> Project by <%= link_to " Elon Gong", "https://blog.elonarise.top/" %> <b> · </b>
  <%= link_to "Fork on Github", "https://github.com/virgotatus" %>
</ul>


<!-- 
// show how to insert script of javascript in html
<script>
  // Add a click event listener to the button
  setPromptButton.addEventListener("click", function() {
    // Set the value of the text field
    bodyField.value = "my New Name";
  });
</script>
-->